.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-carousel-image {
    max-height: 800px; /* Aumente a altura máxima conforme necessário */
    width: 100%; /* Ajuste a largura para preencher o contêiner */
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner sem distorcer */
  }
  