.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-carousel-image {
    max-height:1000px; /* Ajuste conforme necessário */
    width: 100%; /* Garante que a imagem preencha o contêiner */
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorcer */
  }
  
  